.Navbar {
    height: 10%;
    background: #6a599b;
    border-bottom: 9px solid rgb(51, 37, 75);
    color: #fff;
}

@media only screen and (orientation: landscape) {
    .Navbar {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    .Navbar {
        height: 5%;
    }
}